@tailwind base;
@tailwind components;
@tailwind utilities;

/* Page Transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.25s ease-out;
}

.page-enter-from {
  opacity: 0;
  transform: translateY(10px);
}

.page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

/* Smooth scroll for whole page */
html {
  scroll-behavior: smooth;
}